{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS - Django</title>
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="stylesheet" href="{% static 'core/album_list.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
          rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>AWS - DJANGO | Testando SQS e S3</h1>
      <h2>Imagens diretamente da AWS S3</h2>
      <nav>
        <a href="{% url 'albums:tasks' %}">Testar Fila SQS</a>
      </nav>
    </header>
    <main>
      {% for object in object_list %}
        <article>
          <h2>{{ object.title }}</h2>
          <figure>
            <img src="{{ object.cover.url }}"
                 alt="cover-album"
                 width="256px"
                 height="256px" />
          </figure>
          <figcaption>{{ object.cover.url }}</figcaption>
        </article>
      {% endfor %}
    </main>
  </body>
</html>
