{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS - Django</title>
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <link rel="stylesheet" href="{% static 'core/album_list.css' %}" />
  </head>
  <body>
    <header>
      <h1>AWS - DJANGO | Testando SQS e S3</h1>
      <h2>Envie tarefas para a fila!</h2>
    </header>
    <main>
      {% if object_list|length == 0 %}
        <p>Lista vazia!</p>
      {% else %}
        {% for object in object_list %}
          <article>
            <p>{{ object.message }}</p>
            <p>{{ object.status }}</p>
          </article>
        {% endfor %}
      {% endif %}
      <form action="{% url 'albums:create-celery-task' %}", method="POST">
        {% csrf_token %}
        <label for="task_message">Mensagem da tarefa</label>
        <input required id="task_message" type="text" name="task_message" />
        <button type="submit">Enviar</button>
      </form>
    </main>
  </body>
  <script>
    const submitButton = document.querySelector("button");
    submitButton.addEventListener("click", element => {
      window.alert("Task enviada para AWS!")
    })
  </script>
</html>
